
// Thème clair
.light-theme {
    background-color: #ffffff;
    color: #000000;
  
    .toolbar {
      background-color: #007bff;
    }
  }
  
  // Thème sombre
  .dark-theme {
    background-color: #121212;
    color: #ffffff;
  
    .toolbar {
      background-color: #333333;
    }
  }
  